<ion-content [fullscreen]="true">

  <ion-toolbar color="lightblue">
        <ion-row class="ion-padding-horizontal ion-padding-vertical">

          <ion-col>
            <ion-icon name="home" size="large" color="darkblue"></ion-icon>
          </ion-col>
    
          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="person" size="large" color="darkblue" [routerLink]="['/profile']"></ion-icon>
            </div>
          </ion-col>


        </ion-row>
  </ion-toolbar>

  <ion-grid>
    <ion-row center>
      <ion-col size="12">

        <div id="card-fullscreen">
          <ion-row class="ion-justify-content-center">
            <ion-col size="3" class="ion-text-center">
              <ion-icon name="apps" color="darkblue" size="large"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-button shape="round" class="btn-location" color="darkblue"><p>Location</p></ion-button>
            </ion-col>  
            <ion-col size="3" class="ion-text-center">
              <ion-icon name="options" color="darkblue" size="large"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="12" class="ion-no-padding">
              <ion-list>
                <ion-item *ngFor="let person of persons" lines="full" [routerLink]="['/detailpage']">
                  <ion-thumbnail item-start>
                    <div *ngFor="let image of images">
                      <img *ngIf="person.id == image.id" [src]="image.filepath" />
                    </div>
                  </ion-thumbnail>
                  <p >{{person.firstname}} {{person.lastname}}</p>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
