<ion-content [fullscreen]="true">

  <ion-toolbar color="lightblue">
        <ion-row class="ion-padding-horizontal ion-padding-vertical">

          <ion-col>
            <ion-img src="assets/img/hm-btn.png" id="homemate-icon"></ion-img>
          </ion-col>

          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="person" size="large" color="darkblue" [routerLink]="['/tabs/profile']"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
  </ion-toolbar>

  <ion-grid>
    <ion-row center>
      <ion-col size="12">

        <div id="card-fullscreen">
          <ion-row class="ion-justify-content-center">
            
            <ion-col size="10" class="ion-text-left">
              <ion-button shape="round" class="btn-location" color="darkblue"><p>Location</p></ion-button>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <ion-icon class="option-icon" name="options" color="darkblue" size="large"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-no-padding">

              <ion-list *ngIf="preferences != [] && myPreferences.type == 'offerer'">
                <div *ngFor="let person of persons">
                <ion-item *ngIf="checkType(person)" lines="full" (click)="click(person.id)">
                  <ion-thumbnail item-start>
                    <div *ngFor="let image of images">
                      <img *ngIf="person.id == image.id" [src]="image.filepath" />
                    </div>
                  </ion-thumbnail>
                  <p >{{person.firstname}} {{person.lastname}}</p>
                  <p> {{getScore(person.uuid)*100}}%</p>
                  
                  <div item-end>
                    <ion-icon name="chevron-forward-outline" (click)="click(person.id)" color="darkblue"></ion-icon>
                  </div>
                  
                </ion-item>
                
                <ion-progress-bar *ngIf="checkType(person)" value="{{getScore(person.uuid)}}"></ion-progress-bar>

              </div>
              </ion-list>

              <ion-list *ngIf="preferences != [] && myPreferences.type == 'seeker'">
                <div *ngFor="let residence of residences">
                <ion-item lines="full" (click)="click(residence.id)">
                  <ion-thumbnail item-start>
                    <img [src]="getFirstResidenceImage(residence.id)" />
                  </ion-thumbnail>
                  <ion-row>
                  <p>{{residence.name}}</p>
                  <p class='description'>{{residence.description}}</p>
                  </ion-row>
                  
                  <p>{{getScore(residence.uuid)*100}}%</p>
                  
                  <div item-end>
                    <ion-icon name="chevron-forward-outline" color="darkblue" (click)="click(residence.id)"></ion-icon>
                  </div>
                  
                </ion-item>
                <ion-progress-bar value="{{getScore(residence.uuid)}}"></ion-progress-bar>
              </div>
              </ion-list>






            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
