<ion-content [fullscreen]="true">

  <ion-toolbar color="lightblue">
        <ion-row class="ion-padding-horizontal ion-padding-vertical">

          <ion-col>
            <ion-img src="assets/img/hm-btn.png" id="homemate-icon"></ion-img>
          </ion-col>

          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="person" size="large" color="darkblue" [routerLink]="['/tabs/profile']"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
  </ion-toolbar>

  <ion-grid>
    <ion-row center>

      <ion-col size="12">
        <ion-card class="bg-color">
        <ion-list id="test" class="to-bottom3">

        <!-- <div id="card-fullscreen"> -->
          <ion-row class="ion-justify-content-center">

            <ion-col size="10" class="ion-text-left">
              <ion-button shape="round" class="btn-location" color="darkblue"><p>Location</p></ion-button>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <ion-icon class="option-icon" name="options" color="darkblue" size="large"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row id="test" class="to-bottom3">
            <ion-col class="ion-no-padding">
              <ion-grid size="12">

              <ion-list *ngIf="view && myPreferences.type == 'offerer'" class="to-bottom3">
                <div *ngFor="let person of sortedPersons">
                <ion-item *ngIf="checkType(person)" lines="full" (click)="click(person.id)">
                  <ion-grid size="12">
                    <ion-row>
                      <ion-col size="3" >
                        <div *ngFor="let image of images">
                          <img *ngIf="person.id == image.id" [src]="image.filepath" />
                        </div>
                      </ion-col>
                      <ion-col size="6" class="ion-padding-horizontal">
                        <p><ion-text color="darkblue" class="bold">{{getScore(person.uuid)*100}}% match</ion-text></p>
                        <ion-progress-bar *ngIf="checkType(person)" value="{{getScore(person.uuid)}}"></ion-progress-bar>
                      </ion-col>
                      <ion-col>
                        <ion-col size="1" class="ion-padding-top">
                          <ion-icon name="chevron-forward-outline" size="medium" color="darkblue"(click)="click(person.id)"></ion-icon>
                        </ion-col>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <p >{{person.firstname}} {{person.lastname}}</p>
                    </ion-row>

                  </ion-grid>
                </ion-item>


                </div>
              </ion-list>


              <ion-list *ngIf="view && myPreferences.type == 'seeker'" class="to-bottom3">
                <div *ngFor="let residence of residences">
                <ion-item lines="full" (click)="click(residence.id)">
                  <ion-grid size="12">
                    <ion-row>
                      <ion-col size="5">
                        <div>
                          <img [src]="getFirstResidenceImage(residence.id)" />
                        </div>
                      </ion-col>
                      <ion-col size="6">
                        <ion-row>
                          <p><ion-text color="darkblue" class="bold">{{getScore(residence.id)*100}}% match</ion-text></p>
                          <ion-progress-bar value="{{getScore(residence.id)}}"></ion-progress-bar>

                        </ion-row>
                      </ion-col>
                      <ion-col size="1" class="ion-padding-top">
                        <ion-icon name="chevron-forward-outline" size="large" color="darkblue" (click)="click(residence.id)"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <p>{{residence.name}}</p>
                      <p class='description'>{{residence.description}}</p>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                </div>
              </ion-list>





              </ion-grid>
            </ion-col>
          </ion-row>
        <!-- </div> -->
      </ion-list>
    </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
