<ion-content [fullscreen]="true" color="darkblue">


  <ion-toolbar color="darkblue" class="ion-padding-horizontal">
      <!-- Link naar rond deze icon, wat voor soort link? -->
      <!-- <ion-row class="ion-padding-horizontal ion-padding-vertical"> -->
          <!-- <ion-col> -->
            <!-- <ion-icon name="chevron-back-outline" class="icon-back" size="large" color="darkblue" [routerLink]="['/profile']"></ion-icon> -->
          <!-- </ion-col> -->
      <!-- </ion-row> -->
      <ion-col>
        <ion-img src="assets/img/hm-btn.png"  [routerLink]="['/homepage']"  class="ion-padding-vertical" id="homemate-icon"></ion-img>
      </ion-col>
  </ion-toolbar>

  <ion-grid>


    <ion-row class="ion-justify-content-center">

        <ion-row class="test-center">
          <ion-col size="1">
            <!-- NOT BEST PRACTISE, BUT FOR EMPTY SPACE -->
            <ion-icon name="chevron-back-outline" class="ion-justify-content-center" size="large" color="darkblue"></ion-icon>
          </ion-col>
        </ion-row>

      <ion-col size="8" class="test-center">
        <div class="wt-div ion-padding-horizontal ion-padding-vertical ion-text-center">
          <div>
            <ion-img src="assets/img/wt-01.png" class="ion-padding-vertical"></ion-img>
          </div>
          <div>
            <ion-text color="grey">
              <h3 class="bold" >Welcome to Homemate</h3>
              <p>Find opportunities in your city to find a new home.</p>
            </ion-text>
            <!-- <p color="darkblue">Tekst</p> -->
          </div>
        </div>
      </ion-col>

      <ion-row class="test-center">
        <ion-col size="1" class="test-center">
          <ion-icon name="chevron-forward-outline" size="large" [routerLink]="['/walkthrough3']"></ion-icon>
        </ion-col>
      </ion-row>



    </ion-row>

    <ion-row class="test-center ion-justify-content-center">
      <ion-col size="3"  class="test-center ion-padding-vertical">
          <ion-img src="assets/img/wt-circle.png"></ion-img>
      </ion-col>
    </ion-row>



  </ion-grid>



  <ion-col>
    <div class="ion-text-start ion-padding-horizontal"  [routerLink]="['/homepage']">
      <ion-button class="ion-padding-vertical">
        <ion-text>
          <p>Skip</p>
        </ion-text>
      </ion-button>
    </div>
  </ion-col>


</ion-content>
