<ion-content [fullscreen]="true">

  <ion-toolbar color="lightblue">
        <!-- Link naar rond deze icon, wat voor soort link? -->
        <ion-row class="ion-padding-horizontal ion-padding-vertical">

          <ion-col>
            <ion-img src="assets/img/hm-btn.png" [routerLink]="['/homepage']" id="homemate-icon"></ion-img>
          </ion-col>
          <ion-col>
            <ion-text color="darkblue" id="caps">preferences</ion-text>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="person" size="large" color="darkblue"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
  </ion-toolbar>

  <ion-grid>
    <ion-row center>
      <ion-col size="12">

          <ion-card-header>
          </ion-card-header>

          <ion-card-content class="bg-color ion-padding-vertical to-bottom3">

            <ion-text color="grey" class="ion-padding-vertical ion-padding-horizontal ion-text-center">
              <h1 class="ion-padding-horizontal ion-text-start">More about you</h1>
            </ion-text>

            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal bold">Your interests:</p>
            </ion-text>



            <ion-item>
              <ion-input type="text" placeholder="New interest" #interest clearInput></ion-input>
              <button color="primary" solid item-right (click)="interests.push([true,interest.value])">Add</button>
            </ion-item>


            <!-- <ion-grid>
              <ion-row *ngFor = "let number of ); let i = index;">
                <ion-col><ion-button shape="round" class="interest selected">{{interests[i]}}</ion-button></ion-col>
                <ion-col><ion-button shape="round" class="interest not-selected" color="white">{{interests[i]}}</ion-button></ion-col>
                <ion-col><ion-button shape="round" class="interest selected">{{interests[i]}}</ion-button></ion-col>
              </ion-row>
            </ion-grid> -->

            <ion-grid>
              <ion-row >
                <ion-col *ngFor = "let interest of interests; let i = index;"sizeLg="4" sizeMd="4" sizeXs="4">
                  <div *ngIf = "!interests[i][0]">
                    <ion-button shape="round" class="interest not-selected" color="white" (click)="interests[i][0] = true">
                      {{interests[i][1]}}
                    </ion-button>
                  </div>
                  <div *ngIf = "interests[i][0]">
                    <ion-button shape="round" class="interest selected"(click)="interests[i][0] = false">
                      {{interests[i][1]}}
                    </ion-button>
                  </div>

              </ion-col>
              </ion-row>
            </ion-grid>

            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal ion-padding-vertical bold">I find this important:</p>
            </ion-text>



            <ion-row>
              <ion-col>
                <ion-row class="ion-padding-vertical"><ion-checkbox (ionChange)="update(0, $event.detail.checked)"></ion-checkbox><p class="ion-padding-horizontal">A tidy house</p></ion-row>
                <ion-row><ion-checkbox (ionChange)="update(1, $event.detail.checked)"></ion-checkbox><p class="ion-padding-horizontal">Healthy food</p></ion-row>
                <ion-row class="ion-padding-vertical"><ion-checkbox (ionChange)="update(2, $event.detail.checked)"></ion-checkbox><p class="ion-padding-horizontal">Higher education</p></ion-row>
                <ion-row><ion-checkbox (ionChange)="update(3, $event.detail.checked)"></ion-checkbox><p class="ion-padding-horizontal">Making clear agreements</p></ion-row>
                <ion-row class="ion-padding-vertical"><ion-checkbox (ionChange)="update(4, $event.detail.checked)"></ion-checkbox><p class="ion-padding-horizontal">Private bathroom</p></ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="ion-margin-vertical">
              <ion-col>
                <div class="ion-text-start">
                  <ion-button color="white" class="ion-padding-vertical" [routerLink]="['/preferences2']">
                    <ion-text color="grey">
                      <p color="grey">Back</p>
                    </ion-text>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col>
                <div class="ion-text-end">
                  <ion-button shape="round" class="btn-small" color="light-lightblue" (click)="next()"><p>Next</p></ion-button>
                </div>
              </ion-col>
            </ion-row>

          </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
