<ion-content [fullscreen]="true">

  <ion-toolbar color="lightblue">
        <!-- Link naar rond deze icon, wat voor soort link? -->
        <ion-row class="ion-padding-horizontal ion-padding-vertical">

          <ion-col>
            <ion-img src="assets/img/hm-btn.png" [routerLink]="['/homepage']" id="homemate-icon"></ion-img>
          </ion-col>
          <ion-col>
            <ion-text color="darkblue" id="caps">preferences</ion-text>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="person" size="large" color="darkblue"></ion-icon>
            </div>
          </ion-col>


        </ion-row>
  </ion-toolbar>

  <ion-grid>
    <ion-row center>
      <ion-col size="12">

          <ion-card-header>
          </ion-card-header>

          <ion-card-content class="bg-color ion-padding-vertical">

            <ion-text color="grey" class="ion-padding-vertical ion-padding-horizontal ion-text-center">
              <h1 class="ion-padding-horizontal ion-text-start">About your cohousing situation</h1>
            </ion-text>

            <!-- SHOW WHEN SEEKER -->

          <div *ngIf = "preferences.type == 'seeker'">
            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal  ion-padding-vertical bold">Tell something more about yourself!</p>
            </ion-text>
            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal  ion-padding-vertical">
                Why do you want to do cohousing? What do you (dis)like? Is something important to know?
              </p>
            </ion-text>

            <ion-item class="ion-padding-vertical" color="white border-txt" >
              <ion-textarea color="grey" [(ngModel)]="preferences.biography"></ion-textarea>
            </ion-item>
          </div>
            <!-- SHOW WHEN OFFERER -->
            <div *ngIf="preferences.type == 'offerer'">
            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal  ion-padding-vertical bold">Tell something more about your cohousing situation!</p>
            </ion-text>

            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal  ion-padding-vertical">
                How do you want to name your place?
              </p>
            </ion-text>

            <ion-item class="ion-padding-vertical" color="white border-txt" >
              <ion-input type="text" [(ngModel)]="residence.name" color="grey"></ion-input>

            </ion-item>


            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal  ion-padding-vertical">
                How many people are you? What do you like? What is important in your house?
              </p>
            </ion-text>

            <ion-item class="ion-padding-vertical" color="white border-txt" >
              <ion-textarea color="grey" [(ngModel)]="residence.description"></ion-textarea>
            </ion-item>

            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal ion-padding-vertical bold">Available from:</p>
            </ion-text>
            <ion-card color="white">
              <ion-item id="test">
                <ion-datetime displayFormat="D MMM YYYY" color="grey" max="2023"  min="2021" value="2021-06-17" [(ngModel)]="residence.startdate"></ion-datetime>
              </ion-item>
            </ion-card>

            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal ion-padding-vertical bold">What is the address of your property?</p>
            </ion-text>
            <ion-card color="white">
              <ion-item id="test">
                <ion-textarea color="grey" [(ngModel)]="residence.address"></ion-textarea>
              </ion-item>
            </ion-card>

            <ion-text color="grey" class="ion-padding-vertical">
              <ion-label color="grey">Upload pictures of your property and your homemates</ion-label>
            </ion-text>
            <ion-item color="white">
              <input type="file" name="img" (change)="imageService.uploadFile($event.target.files, 'residenceImages');" accept="image/*">
            </ion-item>

            <ion-list *ngIf="images == defined">
              <div *ngFor="let image of images">
              <ion-item *ngIf="authService.uuid == image.uuid" lines="full">
                
                <ion-thumbnail item-start>
                    <img [src]="image.filepath" />
                </ion-thumbnail>
                <p>{{image.name}}</p>
                <ion-button color="light" float-right (click)="pImageService.deleteResidenceImage(image.id)">Delete</ion-button>
      
              </ion-item>
            </div>
            </ion-list>

            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal ion-padding-vertical bold">What is the amount of money your new homemate needs to contribute to pay the rent? (All incl.)</p>
            </ion-text>
            <ion-card color="white">
              <ion-item id="test">
                <ion-textarea color="grey" [(ngModel)]="residence.price" aria-placeholder="500"></ion-textarea>
              </ion-item>
            </ion-card>

          </div>

            <ion-row class="ion-margin-vertical">
              <ion-col>
                <div class="ion-text-start">
                  <ion-button color="white" class="ion-padding-vertical">
                    <ion-text color="grey" [routerLink]="['/preferences5']">
                      <p color="grey">Back</p>
                    </ion-text>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col>
                <div class="ion-text-end">

                  <ion-button *ngIf="preferences.type == 'offerer'" shape="round" class="btn-small" color="light-lightblue" (click)="next()" [disabled]="residence.description == undefined || 
                  residence.name == undefined || 
                  residence.price == undefined || 
                  residence.address == undefined || 
                  residence.startdate == undefined                                                                          
                  "><p>Search!</p></ion-button>
                  <ion-button *ngIf="preferences.type == 'seeker'" shape="round" class="btn-small" color="light-lightblue" (click)="next()" [disabled]="preferences.biography == undefined"><p>Search!</p></ion-button>
                </div>
              </ion-col>
            </ion-row>

          </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
