<ion-content [fullscreen]="true">

  <ion-toolbar color="lightblue">
        <!-- Link naar rond deze icon, wat voor soort link? -->
        <ion-row class="ion-padding-horizontal ion-padding-vertical">

          <ion-col>
            <ion-icon name="home" size="large" color="darkblue"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-text color="darkblue" id="caps">preferences</ion-text>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="person" size="large" color="darkblue"></ion-icon>
            </div>
          </ion-col>


        </ion-row>
  </ion-toolbar>

  <ion-grid>
    <ion-row center>
      <ion-col size="12">

          <ion-card-header>
          </ion-card-header>

          <ion-card-content class="bg-color ion-padding-vertical">

            <ion-text color="grey" class="ion-padding-vertical ion-padding-horizontal ion-text-center">
              <h1 class="ion-padding-horizontal ion-text-start">About your cohousing situation</h1>
            </ion-text>

            <!-- SHOW WHEN SEEKER -->

          <div *ngIf = "preferences.type == 'seeker'">
            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal  ion-padding-vertical bold">Tell something more about yourself!</p>
            </ion-text>
            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal  ion-padding-vertical">
                Why do you want to do cohousing? What do you (dis)like? Is something important to know?
              </p>
            </ion-text>

            <ion-item class="ion-padding-vertical" color="white border-txt" >
              <ion-textarea color="grey" [(ngModel)]="preferences.biography"></ion-textarea>
            </ion-item>
          </div>
            <!-- SHOW WHEN OFFERER -->
          <div *ngIf="preferences.type == 'offerer'">
            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal  ion-padding-vertical bold">Tell something more about your cohousing situation!</p>
            </ion-text>
            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal  ion-padding-vertical">
                How many people are you? What do you like? What is important in your house?
              </p>
            </ion-text>

            <ion-item class="ion-padding-vertical" color="white border-txt" >
              <ion-textarea color="grey" [(ngModel)]="preferences.biography"></ion-textarea>
            </ion-item>

            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal ion-padding-vertical bold">Available from:</p>
            </ion-text>
            <ion-card color="white">
              <ion-item id="test">
                <ion-datetime displayFormat="D MMM YYYY" color="grey" max="2023"  min="2021" value="2021-06-17" [(ngModel)]="preferences.date"></ion-datetime>
              </ion-item>
            </ion-card>

            <ion-text color="grey" class="ion-padding-vertical">
              <p class="ion-padding-horizontal ion-padding-vertical bold">What is the address of your property?</p>
            </ion-text>
            <ion-card color="white">
              <ion-item id="test">
                <ion-textarea color="grey"></ion-textarea>
              </ion-item>
            </ion-card>

            <ion-text color="grey" class="ion-padding-vertical">
              <ion-label color="grey">Upload pictures of your property and your homemates</ion-label>
            </ion-text>
            <ion-item color="white">
              <input type="file" name="img">
            </ion-item>

          </div>

            <ion-row class="ion-margin-vertical">
              <ion-col>
                <div class="ion-text-start">
                  <ion-button color="white" class="ion-padding-vertical">
                    <ion-text color="grey" [routerLink]="['/preferences5']">
                      <p color="grey">Back</p>
                    </ion-text>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col>
                <div class="ion-text-end">
                  <ion-button shape="round" class="btn-small" color="light-lightblue" (click)="next()" [disabled]="preferences.biography == undefined"><p>Search!</p></ion-button>
                </div>
              </ion-col>
            </ion-row>

          </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
