<ion-content [fullscreen]="true" color="darkblue">

  <!-- <ion-toolbar color="darkblue" class="ion-padding-vertical">

  </ion-toolbar> -->

  <ion-content class="background-img">



          <ion-grid>


            <ion-row center>
              <ion-col size="12">

                  <ion-card-header>

                  </ion-card-header>
                  <ion-grid>
                    <ion-card-content>
                      <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-vertical">
                          <ion-col>
                            <ion-img src="assets/img/homemate-logo-trans.png" id="walkthrough-01"></ion-img>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="ion-justify-content-center ion-align-items-center">
                          <ion-text id="intro-wt" color="white">
                            <div class="ion-text-center">
                              Find roommates in your neighborhood for cohousing
                            </div>
                          </ion-text>
                        </ion-col>
                      </ion-row>

                  </ion-card-content>
                </ion-grid>

              </ion-col>
            </ion-row>




          </ion-grid>

  </ion-content>
</ion-content>

