<ion-content [fullscreen]="true">

  <ion-toolbar color="lightblue">
        <ion-row class="ion-padding-horizontal ion-padding-vertical">

          <ion-col>
            <ion-icon name="home" size="large" color="darkblue"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-text color="darkblue" id="caps" >Adres</ion-text>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="person" size="large" color="darkblue"></ion-icon>
            </div>
          </ion-col>


        </ion-row>
  </ion-toolbar>

  <ion-grid>
    <ion-row center>
      <ion-col size="12">

        <div id="card-fullscreen">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
              <ion-card>
                <img src="assets/img/dummydata_apartment1.jpg" />
                <ion-card-header>
                  <ion-row>
                    <ion-col size="6">
                      <ion-card-title class="ion-text-start">App Titel</ion-card-title>
                    </ion-col>
                    <ion-col size="6">
                      <ion-card-title class="ion-text-end">Prijs</ion-card-title>
                    </ion-col>
                  </ion-row>
                  
                  <ion-card-subtitle class="ion-text-start">Stad</ion-card-subtitle>
                  
                </ion-card-header>
              
                <ion-card-content class="ion-text-left">
                  Hi Everyone
The spacious cozy furnished room is available from April 18, 2021. It’s a co-housing and you will be sharing the house with 
i) Thya (32) : Working professional
ii) Rin (26): Pursuing Masters.
It has washing machine and disher. 
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>

       



      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
