<ion-content [fullscreen]="true">

  <ion-toolbar color="lightblue">
        <ion-row class="ion-padding-horizontal ion-padding-vertical">

          <ion-col>
            <ion-icon name="home" size="large" color="darkblue" [routerLink]="['/tabs/homepage']"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-text color="darkblue" id="caps" >{{residence.address}}</ion-text>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="person" size="large" color="darkblue"></ion-icon>
            </div>
          </ion-col>


        </ion-row>
  </ion-toolbar>

  <ion-grid>
    <ion-row center>
      <ion-col size="12">

        
        <div id="card-fullscreen">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
              <ion-card>
                <ion-slides pager>
                  <!-- <div *ngFor="let image of images"> -->
                    <ion-slide *ngFor="let image of images">
                      <img [src]="image.filepath"/>
                    </ion-slide>
                  <!-- </div> -->
                </ion-slides>
                
                <ion-card-header>
                  <ion-row>
                    <ion-col size="6">
                      <ion-card-title class="ion-text-start">{{residence.name}}</ion-card-title>
                    </ion-col>
                    <ion-col size="6">
                      <ion-card-title class="ion-text-end">Prijs: € {{residence.price}}</ion-card-title>
                    </ion-col>
                  </ion-row>
                  
                  <ion-card-subtitle class="ion-text-start">{{residence.address}}</ion-card-subtitle>
                  
                </ion-card-header>
              
                <ion-card-content class="ion-text-left">
                  {{residence.description}}
                </ion-card-content>
                
                Startdate: {{residence.startdate |  date:'dd/mm/yy'}}
              </ion-card>
            </ion-col>
          </ion-row>
        </div>

       



      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
