<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let person of persons" lines="full">
      <ion-label>
        <strong>{{person.firstname}}</strong>
        <p>{{person.lastname}}</p>
        <p>{{person.gender}}</p>
        <p>{{person.birthdate}}</p>
        <p>{{person.photo}}</p>
      </ion-label>



      <div item-end>
        <ion-icon name="chevron-forward-outline" (click)="next(person.id)" color="darkblue"></ion-icon>
      </div>
    </ion-item>
  </ion-list> -->
  <ion-content [fullscreen]="true">

    <ion-toolbar color="lightblue">
          <!-- Link naar rond deze icon, wat voor soort link? -->
          <ion-row class="ion-padding-horizontal ion-padding-vertical">

            <ion-col>
              <ion-img src="assets/img/hm-btn.png" [routerLink]="['/tabs/homepage']" id="homemate-icon"></ion-img>
            </ion-col>
              <ion-col>
                  <ion-text color="darkblue" id="caps">Messages</ion-text>
              </ion-col>

              <ion-col>
                <div class="ion-text-end">
                  <ion-icon name="person" size="large" color="darkblue" [routerLink]="['/tabs/profile']"></ion-icon>
                </div>
              </ion-col>


          </ion-row>
    </ion-toolbar>

    <ion-grid>
      <ion-row center>
        <ion-col size="12">
  
          <div id="card-fullscreen">
            <ion-row>
              <ion-col size="12" class="ion-no-padding">
            <ion-list id="test" class="to-bottom2">

              <!-- DIT IS EEN VOLLEDIG ITEM -->
              <ion-item *ngFor="let person of persons" lines="full">
                <ion-grid size="12" (click)="next(person.id)">
                  <ion-row>
                    <ion-col size="2">
                      <div *ngFor="let image of images">
                        <img *ngIf="person.id == image.id" [src]="image.filepath" />
                      </div>
                    </ion-col>
                    <ion-col size="8">
                      <ion-row>
                        <ion-text color="grey" class="streetname-title">
                          <p><strong>{{person.firstname}} {{person.lastname}}</strong></p>
                        </ion-text>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <div item-end>
                  <ion-icon name="chevron-forward-outline"  color="darkblue"></ion-icon>
                </div>
              </ion-item>
              <!-- HIER ONDER KOMEN VOLGENDE ITEMS -->



            </ion-list>
          </ion-col>
        </ion-row>
</div>
</ion-col>
</ion-row>
</ion-grid>

</ion-content>
