<ion-content [fullscreen]="true">

  <ion-toolbar color="lightblue">
        <ion-row class="ion-padding-horizontal ion-padding-vertical">

          <ion-col>
            <ion-icon name="chevron-back" color="darkblue" size="large" [routerLink]="['/tabs/promotead']"></ion-icon>
          </ion-col>

          <ion-col>
            <ion-text color="darkblue" id="caps">Promote your add</ion-text>
          </ion-col>

          <ion-col>

          </ion-col>

        </ion-row>
  </ion-toolbar>



  <ion-grid>
    <ion-row class="ion-padding-vertical">
      <ion-col size="12">


          <ion-card-content class="bg-color ion-padding-vertical">

            <ion-header class="ion-padding-horizontal ion-padding-vertical">
              <ion-text color="grey" class="ion-padding-vertical">
                <h2 class="bold ion-padding-vertical">Promote your advertisement to get more attention.</h2>

                <p class="bold ion-padding-vertical">What does promote mean?</p>

                <p class="ion-padding-vertical">It is a paid tool to help boost your advertisement become more seen. For three of seven days the advertisement will stay int the hotspot. This means it will be on top of the results for the paid period of time.
                </p>

                <p class="bold ion-padding-vertical">What's the pricing?</p>
                <p>3 days - €3</p>
                <p>5 days - €6</p>


              </ion-text>


            </ion-header>

            <ion-list id="test" >



            </ion-list>



          </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
